build/
CMakeLists.txt.user

# Monaco
editor/node_modules

# CLion
# Ignore personal workspace & IDE settings
.idea/workspace.xml
.idea/editor.xml
.idea/misc.xml
.idea/QtSettings.xml
.idea/vcs.xml

# Keep inspection profiles for team consistency
!.idea/inspectionProfiles/